<% provide(:title, 'Get counted!') %>
<h1>Time to get counted</h1>
<h2>This is the data collection page</h2>
 

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @form, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :id_number %>
        <%= f.text_field :id_number, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :gender %>
        <%= f.select :gender, ['--Select one', 'Male', 'Female', 'Other'], class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :house_size %>
        <%= f.text_field :house_size, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :relationship_in_household %>
        <%= f.select :relationship_in_household, ['--Select one', 'Head of house(for single parents)', 'Father', 'Mother', 'Child'], class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :marital_status %>
        <%= f.select :marital_status, ['--Select one', 'Single', 'Married', 'Divorced', 'Widowed'], class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :religion %>
        <%= f.text_field :religion, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :education_level %>
        <%= f.select :education_level, ['--Select one', 'Primary', 'Secondary', 'Undergraduate', 'Postgraduate', 'Other'], class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :employment %>
        <%= f.select :employment, ['--Select one', 'Employed', 'Self-employed', 'Unemployed', 'Other'], class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :Monthly_income_level %>
        <%= f.select :income_level, options_for_select(['< ₦20,000', '₦20,000 - ₦40,000', '₦40,000 - ₦60,000', '₦60,000 - ₦80,000']), prompt: 'Select Income Range', class: 'form-control' %>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>